.container {
  background: linear-gradient(-45deg, #000000, #111, #000000, #151515);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wallet-adapter-button-trigger {
  padding: 10px 20px;
  border-radius: 8px;
  background: black;
  transition: 2s;
  color: white;
}

.wallet-adapter-button-trigger:hover {
  background: #102020;
}

.nftImage {
  border-radius: 8px;
}

.mintModal {
  background-image: repeating-conic-gradient(
    #0a0a0a 10%,
    #000 20%,
    #0a0a0a 30%
  ) !important;
}

.mintModalMinting {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.coolTitle {
  color: white;
  text-transform: uppercase;
}

.mintButton {
  animation: pulseLight 2s infinite;
  border-radius: 50px !important;
  background-color: #050505;
}

.mintButton:hover {
  animation: none;
  box-shadow: 0 0 10px 2px #fff, 0 0 10px 5px #00f;
}

@keyframes pulseLight {
  0% {
    box-shadow: 0 0 10px 0px #fff, 0 0 10px 0px #00f;
  }

  50% {
    box-shadow: 0 0 10px 2px #fff, 0 0 10px 3px #00f;
  }

  100% {
    box-shadow: 0 0 10px 0px #fff, 0 0 10px 0px #00f;
  }
}

.mintButtonPressed {
  box-shadow: 0 0 10px 2px #fff, 0 0 10px 5px #f00;
  border-radius: 50px !important;
  background-color: #050505;
}
