.container {
  background: linear-gradient(-45deg, #000000, #111, #000000, #151515);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wallet-adapter-button-trigger {
  padding: 10px 20px;
  border-radius: 8px;
  background: black;
  transition: 2s;
  color: white;
}

.wallet-adapter-button-trigger:hover {
  background: #102020;
}

.nftImage {
  border-radius: 8px;
}

.mintModal,
.stakingModal {
  background-image: repeating-conic-gradient(
    #0a0a0a 10%,
    #000 20%,
    #0a0a0a 30%
  ) !important;
}

.mintModalMinting {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.patternbg {
  opacity: 0.8;
  background-image: linear-gradient(
      30deg,
      #111111 12%,
      transparent 12.5%,
      transparent 87%,
      #111111 87.5%,
      #111111
    ),
    linear-gradient(
      150deg,
      #111111 12%,
      transparent 12.5%,
      transparent 87%,
      #111111 87.5%,
      #111111
    ),
    linear-gradient(
      30deg,
      #111111 12%,
      transparent 12.5%,
      transparent 87%,
      #111111 87.5%,
      #111111
    ),
    linear-gradient(
      150deg,
      #111111 12%,
      transparent 12.5%,
      transparent 87%,
      #111111 87.5%,
      #111111
    ),
    linear-gradient(
      60deg,
      #11111177 25%,
      transparent 25.5%,
      transparent 75%,
      #11111177 75%,
      #11111177
    ),
    linear-gradient(
      60deg,
      #11111177 25%,
      transparent 25.5%,
      transparent 75%,
      #11111177 75%,
      #11111177
    ) !important;
  background-size: 5px 5px !important;
  background-position: 0 0, 0 0, 14px 25px, 14px 25px, 0 0, 14px 25px;
}

.stakingModalStaking {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.coolTitle {
  color: white;
  text-transform: uppercase;
}

.mintButton {
  animation: bluePulseLight 2s infinite;
  border-radius: 50px !important;
  background-color: #050505;
}

.mintButton:hover {
  animation: none;
  box-shadow: 0 0 10px 2px #fff, 0 0 10px 5px #00f;
}

.mintButtonPressed {
  box-shadow: 0 0 10px 2px #fff, 0 0 10px 5px #f00;
  border-radius: 50px !important;
  background-color: #050505;
}

@keyframes bluePulseLight {
  0% {
    box-shadow: 0 0 10px 0px #fff, 0 0 10px 0px #00f;
  }

  50% {
    box-shadow: 0 0 10px 2px #fff, 0 0 10px 3px #00f;
  }

  100% {
    box-shadow: 0 0 10px 0px #fff, 0 0 10px 0px #00f;
  }
}

.stakingButton {
  animation: redPulseLight 2s infinite;
  border-radius: 50px !important;
  background-color: #050505;
}

.stakingButton:hover {
  animation: none;
  box-shadow: 0 0 10px 2px #fff, 0 0 10px 5px #f00;
}

.stakingButtonPressed {
  box-shadow: 0 0 10px 2px #fff, 0 0 10px 5px #f0f;
  border-radius: 50px !important;
  background-color: #050505;
}

@keyframes redPulseLight {
  0% {
    box-shadow: 0 0 10px 0px #fff, 0 0 10px 0px #f00;
  }

  50% {
    box-shadow: 0 0 10px 2px #fff, 0 0 10px 3px #f00;
  }

  100% {
    box-shadow: 0 0 10px 0px #fff, 0 0 10px 0px #f00;
  }
}
